In [1]:
import pandas as pd

# Load in 2012 US Voter Data

In [2]:
df = pd.read_csv("2012_US_Voter_data.csv")

# Initial EDA

In [3]:
df.head()

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters
0,Alabama,18 to 24,439000,428000,212000,155000
1,Alabama,25 to 34,576000,535000,359000,271000
2,Alabama,35 to 44,615000,582000,410000,330000
3,Alabama,45 to 64,1297000,1275000,1051000,939000
4,Alabama,65+,667000,660000,523000,459000

In [4]:
df.columns

Index(['State', 'Age', 'Total Population', 'Citizen Population',
       'Registered Voters', 'Confirmed Voters'],
      dtype='object')

In [14]:
df. describe()

,Total Population,Citizen Population,Registered Voters,Confirmed Voters
count,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02
mean,9.225451e+05,8.434706e+05,6.006000e+05,5.213804e+05
std,1.157013e+06,1.007374e+06,7.203145e+05,6.413869e+05
min,5.600000e+04,5.500000e+04,2.100000e+04,1.800000e+04
25%,2.385000e+05,2.240000e+05,1.465000e+05,1.285000e+05
50%,5.680000e+05,5.400000e+05,3.710000e+05,3.030000e+05
75%,1.159000e+06,1.029000e+06,7.655000e+05,6.640000e+05
max,9.356000e+06,7.827000e+06,5.459000e+06,4.926000e+06

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               255 non-null    object
 1   Age                 255 non-null    object
 2   Total Population    255 non-null    int64
 3   Citizen Population  255 non-null    int64
 4   Registered Voters   255 non-null    int64
 5   Confirmed Voters    255 non-null    int64
dtypes: int64(4), object(2)
memory usage: 12.1+ KB

# Lets look into the "Total Population", "Citizen Population", "Registered Voters", "Confirmed Voters"

In [15]:
df.groupby("State").sum()

/tmp/ipykernel_780/3835537063.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("State").sum()

,Total Population,Citizen Population,Registered Voters,Confirmed Voters
State,,,,
Alabama,3594000,3480000,2555000,2154000
Alaska,516000,495000,360000,289000
Arizona,4863000,4315000,2811000,2412000
Arkansas,2198000,2110000,1376000,1124000
California,28358000,23418000,15356000,13463000
Colorado,3817000,3543000,2635000,2495000
Connecticut,2726000,2500000,1761000,1569000
Delaware,693000,642000,469000,430000
District Of Columbia,517000,461000,385000,351000
Florida,15033000,13326000,9102000,8107000
Georgia,7178000,6738000,4766000,4168000
Hawaii,1012000,930000,547000,481000
Idaho,1129000,1064000,744000,680000
Illinois,9650000,8831000,6424000,5428000
Indiana,4853000,4724000,3270000,2801000
Iowa,2319000,2232000,1745000,1548000
Kansas,2120000,1974000,1467000,1249000
Kentucky,3292000,3193000,2303000,1895000
Louisiana,3320000,3239000,2498000,2149000
Maine,1041000,1020000,787000,699000
Maryland,4449000,4006000,2888000,2610000
Massachusetts,5170000,4773000,3758000,3382000
Michigan,7496000,7228000,5621000,4831000
Minnesota,4054000,3903000,3085000,2859000
Mississippi,2167000,2130000,1795000,1588000
Missouri,4520000,4409000,3383000,2818000
Montana,769000,754000,553000,495000
Nebraska,1371000,1297000,901000,799000
Nevada,2040000,1808000,1175000,1048000
New Hampshire,1029000,992000,752000,688000
New Jersey,6729000,5929000,4326000,3670000
New Mexico,1554000,1426000,979000,878000
New York,15066000,13081000,8886000,7676000
North Carolina,7263000,6711000,5294000,4624000
North Dakota,528000,515000,384000,328000
Ohio,8751000,8550000,6076000,5395000
Oklahoma,2809000,2734000,1805000,1431000
Oregon,2999000,2807000,2086000,1897000
Pennsylvania,9848000,9451000,6794000,5824000
Rhode Island,818000,751000,552000,469000
South Carolina,3516000,3381000,2479000,2187000
South Dakota,616000,606000,454000,371000
Tennessee,4849000,4678000,3211000,2606000
Texas,18642000,16062000,10750000,8643000
Utah,1916000,1793000,1137000,1022000
Vermont,496000,487000,356000,307000
Virginia,6095000,5646000,4210000,3778000
Washington,5230000,4833000,3533000,3172000
West Virginia,1453000,1443000,983000,689000
Wisconsin,4351000,4247000,3318000,3128000
Wyoming,426000,419000,268000,247000

In [12]:
df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

/tmp/ipykernel_780/172697960.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

                   State  Citizen Population  Confirmed Voters
0                Alabama             3480000           2154000
1                 Alaska              495000            289000
2                Arizona             4315000           2412000
3               Arkansas             2110000           1124000
4             California            23418000          13463000
5               Colorado             3543000           2495000
6            Connecticut             2500000           1569000
7               Delaware              642000            430000
8   District Of Columbia              461000            351000
9                Florida            13326000           8107000
10               Georgia             6738000           4168000
11                Hawaii              930000            481000
12                 Idaho             1064000            680000
13              Illinois             8831000           5428000
14               Indiana             4724000           2801000
15                  Iowa             2232000           1548000
16                Kansas             1974000           1249000
17              Kentucky             3193000           1895000
18             Louisiana             3239000           2149000
19                 Maine             1020000            699000
20              Maryland             4006000           2610000
21         Massachusetts             4773000           3382000
22              Michigan             7228000           4831000
23             Minnesota             3903000           2859000
24           Mississippi             2130000           1588000
25              Missouri             4409000           2818000
26               Montana              754000            495000
27              Nebraska             1297000            799000
28                Nevada             1808000           1048000
29         New Hampshire              992000            688000
30            New Jersey             5929000           3670000
31            New Mexico             1426000            878000
32              New York            13081000           7676000
33        North Carolina             6711000           4624000
34          North Dakota              515000            328000
35                  Ohio             8550000           5395000
36              Oklahoma             2734000           1431000
37                Oregon             2807000           1897000
38          Pennsylvania             9451000           5824000
39          Rhode Island              751000            469000
40        South Carolina             3381000           2187000
41          South Dakota              606000            371000
42             Tennessee             4678000           2606000
43                 Texas            16062000           8643000
44                  Utah             1793000           1022000
45               Vermont              487000            307000
46              Virginia             5646000           3778000
47            Washington             4833000           3172000
48         West Virginia             1443000            689000
49             Wisconsin             4247000           3128000
50               Wyoming              419000            247000

In [13]:
new_df = df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()
new_df = new_df.sort_values(by=['Citizen Population'], ascending=False)
new_df

/tmp/ipykernel_780/316763790.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

                   State  Citizen Population  Confirmed Voters
4             California            23418000          13463000
43                 Texas            16062000           8643000
9                Florida            13326000           8107000
32              New York            13081000           7676000
38          Pennsylvania             9451000           5824000
13              Illinois             8831000           5428000
35                  Ohio             8550000           5395000
22              Michigan             7228000           4831000
10               Georgia             6738000           4168000
33        North Carolina             6711000           4624000
30            New Jersey             5929000           3670000
46              Virginia             5646000           3778000
47            Washington             4833000           3172000
21         Massachusetts             4773000           3382000
14               Indiana             4724000           2801000
42             Tennessee             4678000           2606000
25              Missouri             4409000           2818000
2                Arizona             4315000           2412000
49             Wisconsin             4247000           3128000
20              Maryland             4006000           2610000
23             Minnesota             3903000           2859000
5               Colorado             3543000           2495000
0                Alabama             3480000           2154000
40        South Carolina             3381000           2187000
18             Louisiana             3239000           2149000
17              Kentucky             3193000           1895000
37                Oregon             2807000           1897000
36              Oklahoma             2734000           1431000
6            Connecticut             2500000           1569000
15                  Iowa             2232000           1548000
24           Mississippi             2130000           1588000
3               Arkansas             2110000           1124000
16                Kansas             1974000           1249000
28                Nevada             1808000           1048000
44                  Utah             1793000           1022000
48         West Virginia             1443000            689000
31            New Mexico             1426000            878000
27              Nebraska             1297000            799000
12                 Idaho             1064000            680000
19                 Maine             1020000            699000
29         New Hampshire              992000            688000
11                Hawaii              930000            481000
26               Montana              754000            495000
39          Rhode Island              751000            469000
7               Delaware              642000            430000
41          South Dakota              606000            371000
34          North Dakota              515000            328000
1                 Alaska              495000            289000
45               Vermont              487000            307000
8   District Of Columbia              461000            351000
50               Wyoming              419000            247000